.main {
  margin-left: 160px; /* Same as the width of the sidebar */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    padding: 16px;

    .form-field {
      width: 100%;
      margin-bottom: 22px;
      text-align: left;
    }

    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    /* Set a style for the submit/register button */
    .register-btn {
      background-color: #4caf50;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .register-btn:hover {
      opacity: 1;
    }

    a {
      color: dodgerblue;
    }

    .agreement {
      font-size: 12px;
    }

  }
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
}